<div class="header" [ngClass]="loginService.logeado ? '':'hide'">
    <button class="boton" (click)="nav.toggleVisibility()">
        <span class="material-symbols-outlined menuicon">
            menu
            </span>
    </button>
    <div class="icon-search">
        <button class="boton">
            <img src="../../../assets/images/musikat_logo2.png" alt="" height="50">
        </button>

        <div class="search" [formGroup]="buscadorGrupo">
            <span class="material-symbols-outlined searchicon">
                search
                </span>
            <input type="text" class="searchbar" formControlName="buscador" (keydown.enter)="search()">
        </div>
    </div>

    <div class="profile">
        <button class="boton boton-perfil" [routerLink]="['perfil']">
            <div class="profile-pic">
                <img src="../../../assets/images/profile-icon.png" alt="">
            </div>
        </button>
        <h2>{{user.username}}</h2>
        <button class="boton" (click)="toggleMenu()">
            <span class="material-symbols-outlined menuicon">
                keyboard_arrow_down
                </span>
                <div class="dropdown-content" [ngClass]="showMenu ? '':'hide'">
                    <button class="boton" (click)="editarPerfil()">Editar perfil</button>
                    <button class="boton" (click)="cerrarSesion()">Cerrar sesión</button>
                </div>
        </button>
    </div>
</div>

<app-friends-menu #nav></app-friends-menu>