<div class="header" [ngClass]="showHeader ? '':'hide'">
    <button class="boton" (click)="nav.toggleVisibility()">
        <span class="material-symbols-outlined menuicon">
            menu
            </span>
    </button>
    <div class="icon-search">
        <button class="boton" [routerLink]="['inicio']">
            <img src="../../../assets/images/musikat_logo2.png" alt="" height="50">
        </button>

        <div class="search" [formGroup]="buscadorGrupo">
            <span class="material-symbols-outlined searchicon">
                search
                </span>
            <input type="text" class="searchbar" formControlName="buscador" (keydown.enter)="search()">
        </div>
    </div>

    <div class="profile">
        <button class="boton me-4" (click)="toggleNotifications()">
            <div class="d-flex align-items-center justify-content-end">
                @if (notifications.length) {
                    <div class="notification-badge">{{notifications.length}}</div>
                }
                <span class="material-symbols-outlined menuicon">
                    notifications
                </span>
            </div>
        </button>
        <div class="dropdown-content-noti p-3" [ngClass]="showNotifications ? '':'hide'">
            @if (notifications.length) {
                @for (person of notifications; track $index) {
                    <div class="d-flex flex-row mt-2 mb-2" style="width: 350px;">
                        <div class="profile-pic">
                            <img [src]="getSrc(person.userId)" alt="" (error)="onImageError($event)">
                        </div>
                        <div class="d-flex flex-column">
                            <h5>{{person.username}}</h5>
                            <div class="d-flex flex-row">
                                <button class="boton me-3 d-flex flex-row align-items-center" (click)="acceptSoli(person.userId)">
                                    <span class="material-symbols-outlined icon">
                                        add
                                        </span>
                                    <h6>Aceptar</h6>
                                </button>
                                <button class="boton ms-3 d-flex flex-row align-items-center" (click)="rejectSoli(person.userId)">
                                    <span class="material-symbols-outlined icon">
                                        remove
                                        </span>
                                    <h6>Rechazar</h6>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }@else {
                <span>No tienes notificaciones</span>
            }
        </div>
        <button class="boton boton-perfil" [routerLink]="['perfil']">
            <div class="profile-pic">
                <img [src]="getSrc(user.userId)" alt="" (error)="onImageError($event)">
            </div>
        </button>
        <h2>{{user.username}}</h2>
        <button class="boton" (click)="toggleMenu()">
            <span class="material-symbols-outlined menuicon">
                keyboard_arrow_down
            </span>
            <div class="dropdown-content" [ngClass]="showMenu ? '':'hide'">
                <button class="boton" (click)="editarPerfil()">Editar perfil</button>
                <button class="boton" (click)="cerrarSesion()">Cerrar sesión</button>
            </div>
        </button>
    </div>
</div>

<app-friends-menu #nav></app-friends-menu>