<div class="body">
    @if (notFound) {
        <div class="d-flex align-items-center justify-content-center">
            <h1 class="mt-5" style="font-size: 100px;">Usuario no encontrado</h1>
        </div>
    }@else {
        <div class="profile-data">
            <div class="profile-pic">
                <img src="../../../assets/images/profile-icon.png" alt="">
            </div>
    
            <div class="profile-texts">
                <div class="top">
                    <h1>{{user.username}}</h1>
                </div>
                <div class="bottom">
                    @if (userProfile) {
                        <button class="boton" (click)="editarPerfil()">
                            <h4>Editar perfil</h4>
                        </button>
                    }@else {
                        <button class="boton">
                            <span class="material-symbols-outlined icon">
                                {{friend ? "person_cancel":"person_add"}}
                                </span>
                            <h4>{{friend ? "Eliminar Amigo":"Añadir Amigo"}}</h4>
                        </button>
                        <button class="boton ms-3">
                            <span class="material-symbols-outlined icon">
                                favorite
                                </span>
                            <h4>{{followed ?  "Dejar de seguir":"Seguir"}}</h4>
                        </button>
                        <button class="boton ms-3">
                            <span class="material-symbols-outlined icon">
                                priority_high
                                </span>
                            <h4>{{blocked ? "Desbloquear" : "Bloquear"}}</h4>
                        </button>
                    }
                </div>
            </div>
        </div>
    
        <div class="container-medium">
            <!--  nav -->
            <ul class="nav custom-nav-tabs">
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="selectedTab=='song'? 'active':''" (click)="selectTab('song')">Canción favorita</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="selectedTab=='artist'? 'active':''" (click)="selectTab('artist')">Artista favorito</button>
                </li>
            </ul>
            
            @switch (selectedTab) {
                @case ('song') {
                    <div class="row pb-4 pt-4">
                        @if (user.favoriteSong) {
                            <div class="col-6 d-flex justify-content-end">
                                <div class="col-5 song-photo">
                                    <img [src]="favoriteSong.album.cover_xl" class="w-100" alt="">
                                </div>
                            </div>
                            <div class="col-6 justify-content-center">
                                <div class="col-8 d-flex align-items-start flex-column h-100 justify-content-center">
                                    <h1>{{favoriteSong.title}}</h1>
                                    <h3>{{favoriteSong.artist?.name}}</h3>
                                </div>
                            </div>
                        }@else {
                            <div class="col-12 d-flex justify-content-center pt-4 pb-4 mt-4 mb-4">
                                @if (userProfile) {
                                    <h1>Selecciona una canción favorita para mostrar en tu perfil</h1>
                                }@else {
                                    <h1>Este usuario no ha seleccionado una canción favorita:(</h1>
                                }
                            </div>
                        }
                    </div>
                }
                @case ('artist') {
                    <div class="row pb-4 pt-4">
                        @if (user.favoriteArtist) {
                            <div class="col-6 d-flex justify-content-center">
                                <div class="col-5 song-photo d-flex justify-content-center flex-column align-items-center">
                                    <img [src]="favoriteArtist.picture_xl" class="w-75" alt="">
                                    <h1>{{favoriteArtist.name}}</h1>
                                </div>
                            </div>
                            <div class="col-6 justify-content-center">
                                <div class="col-8 d-flex align-items-start flex-column h-100 justify-content-center">
                                    <h1>Top canciones</h1>
                                    @for (song of topArtistSongs.data; track $index) {
                                        <div class="d-flex align-items-center">
                                            <h3 class="mt-2">{{($index + 1) + ".  "}}</h3>
                                            <img [src]="song.album.cover" class="ms-1 me-1" width="30" height="30" alt="">
                                            <h3 class="mt-2">{{song.title}}</h3>
                                        </div>
                                    }
                                </div>
                            </div>
                        }@else {
                            <div class="col-12 d-flex justify-content-center pt-4 pb-4 mt-4 mb-4">
                                @if (userProfile) {
                                    <h1>Selecciona un artista favorito para mostrar en tu perfil</h1>
                                }@else {
                                    <h1>Este usuario no ha seleccionado un artista favorito:(</h1>
                                }
                            </div>
                        }
                    </div>
                }
            }
    
        </div>
        <!--  contenedor para crear una publicacion -->
        <div class="publicaciones">
            <h1>Publicaciones</h1>
            <div class="container mt-5">
                <div class="card post-create-container">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <img src="../../../assets/images/profile-icon.png" class="rounded-circle me-3" alt="User Avatar">
                            <textarea class="form-control post-textarea" placeholder="¿Qué estás pensando?" rows="3"></textarea>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="file-upload-wrapper">
                                <input type="file" class="file-upload-input" id="file-upload" accept="image/*">
                                <label for="file-upload" class="button-custom">
                                    Agregar Imagen
                                </label>
                            </div>
                            <button class="button-custom">Publicar</button>
                        </div>
                    </div>
                </div>
            </div>

            
            
            <!--  contenedor de publicaciones hechas -->
            <div class="container mt-5">
                @for (post of Posts; track post.content) {
                    <div class="card post-container">                                  
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <div class="img-profile">
                                    <img src="../../../assets/images/profile-icon.png" class="img-fluid rounded mb-3" alt="User Avatar">
                                </div>
                                <div>
                                    <h5 class="card-title mb-0">{{user.username}}</h5>                       
                                </div>
                            </div>
                            <p class="card-text">
                                {{post.content}}
                            </p>
                            <img [src]="post.image" class="img-fluid rounded mb-3"
                                alt="Post Image">
                            <div class="d-flex justify-content-end align-items-center">
                                <div title="Like" class="heart-container">
                                    <input id="Give-It-An-Id" class="checkbox" type="checkbox">
                                    <div class="svg-container">
                                        <!-- Corazón vacío -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <!-- Corazón lleno -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <!-- Celebración -->
                                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                                <button class="button-custom" style="margin-left: 10px;">Comentarios</button>
                            </div>
                        </div>
                    </div>
                    <br>        
                }@empty {
                    <li>There are no items.</li>
                    }   
                
            </div>
        </div>

        
  
    }
</div>