<div class="body">
    @if (notFound) {
        <div class="d-flex align-items-center justify-content-center">
            <h1 class="mt-5" style="font-size: 100px;">Usuario no encontrado</h1>
        </div>
    }@else {
        <div class="profile-data">
            <div class="profile-pic">
                <img [src]="src" alt="" (error)="onImageError($event)">
            </div>
    
            <div class="profile-texts">
                <div class="top">
                    <h1>{{user.username}}</h1>
                </div>
                <div class="bottom">
                    @if (userProfile) {
                        <button class="boton" (click)="editarPerfil()">
                            <h4>Editar perfil</h4>
                        </button>
                    }@else {
                        @switch (user.status) {
                            @case ('friend') {
                                <button class="boton" (click)="removeFriend()">
                                    <span class="material-symbols-outlined icon">
                                        person_cancel
                                        </span>
                                    <h4>Eliminar Amigo</h4>
                                </button>
                            }
                            @case ('sended') {
                                <button class="boton" (click)="cancelSolicitude()">
                                    <span class="material-symbols-outlined icon">
                                        cancel
                                        </span>
                                    <h4>Cancelar Solicitud</h4>
                                </button>
                            }
                            @case ('pending') {
                                <button class="boton me-3" (click)="acceptSoli()">
                                    <span class="material-symbols-outlined icon">
                                        add
                                        </span>
                                    <h4>Aceptar Solicitud</h4>
                                </button>
                                <button class="boton ms-3" (click)="rejectSoli()">
                                    <span class="material-symbols-outlined icon">
                                        remove
                                        </span>
                                    <h4>Rechazar Solicitud</h4>
                                </button>
                            }
                            @case ('nothing') {
                                <button class="boton" (click)="addFriend()">
                                    <span class="material-symbols-outlined icon">
                                        person_add
                                        </span>
                                    <h4>Enviar Solicitud</h4>
                                </button>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    
        <div class="container-medium">
            <!--  nav -->
            <ul class="nav custom-nav-tabs">
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="selectedTab=='song'? 'active':''" (click)="selectTab('song')">Canción favorita</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="selectedTab=='artist'? 'active':''" (click)="selectTab('artist')">Artista favorito</button>
                </li>
            </ul>
            
            @switch (selectedTab) {
                @case ('song') {
                    <div class="row pb-4 pt-4">
                        @if (user.favoriteSong) {
                            <div class="col-6 d-flex justify-content-end">
                                <div class="col-5 song-photo">
                                    <img [src]="favoriteSong.album.cover_xl" class="w-100" alt="">
                                    <button class="btn-play" (click)="play()">
                                        <span class="material-symbols-outlined">
                                            {{playing ? 'pause' : 'play_arrow'}}
                                        </span>
                                    </button>
                                </div>
                                <audio [src]="favoriteSong.preview" id="audio">
                                    Tu navegador no soporta el elemento de audio.
                                </audio>
                            </div>
                            <div class="col-6 justify-content-center">
                                <div class="col-8 d-flex align-items-start flex-column h-100 justify-content-center">
                                    <h1>{{favoriteSong.title}}</h1>
                                    <h3>{{favoriteSong.artist?.name}}</h3>
                                </div>
                            </div>
                        }@else {
                            <div class="col-12 d-flex justify-content-center pt-4 pb-4 mt-4 mb-4">
                                @if (userProfile) {
                                    <h1>Selecciona una canción favorita para mostrar en tu perfil</h1>
                                }@else {
                                    <h1>Este usuario no ha seleccionado una canción favorita:(</h1>
                                }
                            </div>
                        }
                    </div>
                }
                @case ('artist') {
                    <div class="row pb-4 pt-4">
                        @if (user.favoriteArtist) {
                            <div class="col-6 d-flex justify-content-center">
                                <div class="col-5 song-photo d-flex justify-content-center flex-column align-items-center">
                                    <img [src]="favoriteArtist.picture_xl" class="w-75" alt="">
                                    <h1>{{favoriteArtist.name}}</h1>
                                </div>
                            </div>
                            <div class="col-6 justify-content-center">
                                <div class="col-8 d-flex align-items-start flex-column h-100 justify-content-center">
                                    <h1>Top canciones</h1>
                                    @for (song of topArtistSongs; track $index) {
                                        <div class="d-flex align-items-center">
                                            <h3 class="mt-2">{{($index + 1) + ".  "}}</h3>
                                            <img [src]="song.album.cover" class="ms-1 me-1" width="30" height="30" alt="">
                                            <h3 class="mt-2">{{song.title}}</h3>
                                        </div>
                                    }
                                </div>
                            </div>
                        }@else {
                            <div class="col-12 d-flex justify-content-center pt-4 pb-4 mt-4 mb-4">
                                @if (userProfile) {
                                    <h1>Selecciona un artista favorito para mostrar en tu perfil</h1>
                                }@else {
                                    <h1>Este usuario no ha seleccionado un artista favorito:(</h1>
                                }
                            </div>
                        }
                    </div>
                }
            }
    
        </div>
        <!--  contenedor para crear una publicacion -->
        <div class="publicaciones">
            <div class="card post-container mt-3">
                <h1>Publicaciones</h1>
            </div>
            
            <!--  contenedor de publicaciones hechas -->
            <div class="container pb-4">
                @for (publicacion of publicacionesList; track $index) {
                    <div class="card post-container mt-3">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <div class="img-profile">
                                    <img [src]="getSrc(publicacion.userId)" alt="" (error)="onImageError($event)" class="rounded-circle me-3 img-profile">
                                </div>
                                <div class="w-100">
                                    <h5 class="card-title mb-0">{{publicacion.username}}</h5>                       
                                </div>
                                @if(userProfile){
                                    <button class="btn-delete" (click)="deletePublication($index)">X</button>
                                }
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex align-items-end">
                                    <img [src]="publicacion.song.album.cover_xl" alt="" (error)="onImageError($event)" class="rounded">
                                </div>
                                <div class="col-6 d-flex justify-content-center flex-column align-items-start">
                                    <h3>{{publicacion.song.title}}</h3>
                                    <h5>{{publicacion.song.artist?.name}}</h5>
                                    <button class="btn-play-small mt-3" (click)="playWI($index)">
                                        <span class="material-symbols-outlined">
                                            {{publicacion.playing ? 'pause' : 'play_arrow'}}
                                        </span>
                                    </button>
                                    <audio [src]="publicacion.song.preview" [id]="$index">
                                        Tu navegador no soporta el elemento de audio.
                                    </audio>
                                </div>
                            </div>
                            <h6 class="card-text mt-3 mb-3">
                                {{publicacion.content}}
                            </h6>
                            <div class="row">
                                <div class="col-3 d-flex flex-row align-items-end">
                                    <div title="Like" class="heart-container">
                                        <input id="Give-It-An-Id" class="checkbox" type="checkbox" [checked]="publicacion.liked" (click)="likePublication($index)">
                                        <div class="svg-container">
                                            <!-- Corazón vacío -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                                <path
                                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                                </path>
                                            </svg>
                                            <!-- Corazón lleno -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                                <path
                                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                                </path>
                                            </svg>
                                            <!-- Celebración -->
                                            <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                                <polygon points="10,10 20,20"></polygon>
                                                <polygon points="10,50 20,50"></polygon>
                                                <polygon points="20,80 30,70"></polygon>
                                                <polygon points="90,10 80,20"></polygon>
                                                <polygon points="90,50 80,50"></polygon>
                                                <polygon points="80,80 70,70"></polygon>
                                            </svg>
                                        </div>
                                    </div>
                                    <h3 class="ms-3">{{publicacion.likeCount}}</h3>
                                </div>
                                <div class="col-8 d-flex align-items-end justify-content-center">
                                    <h5 class="cursor-pointer" (click)="showComment($index)">{{"Ver todos los comentarios ("+publicacion.comments.length+")"}}</h5>
                                </div>
                            </div>
                            <div class="d-flex mt-4 flex-column" style="max-height: 300px; overflow-y: scroll;" [id]="'comment-'+$index">
                                @if(publicacion.showComment){
                                    @for (comment of publicacion.comments; track $index) {
                                        <div class="d-flex mb-3">
                                            <div class="img-profile" style="min-width: 50px;">
                                                <img [src]="getSrc(comment.userId)" alt="" (error)="onImageError($event)" class="rounded-circle me-3 img-profile">
                                            </div>
                                            <div class="ms-3 d-flex justify-content-center flex-column">
                                                <h5 class="">{{comment.username}}</h5>
                                                <h6>{{comment.comment}}</h6>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="d-flex mt-4">
                                <input type="text" class="form-control" placeholder="Escribe un comentario..." (keydown.enter)="postComment($index, $event)">
                            </div>
                        </div>
                    </div>
                }@empty {
                    <div class="card post-container mt-3">
                        <h2>No hay publicaciones que mostrar :(</h2>
                    </div>
                }
            </div>
        </div>
    }
</div>