<div class="right-container">
  <img src="../../../assets/logosinfondo.png" alt="Logo" class="img-fluid mb-4 mx-auto d-block" style="width: 40%;">
  <br>
  <h2>Iniciar Sesión</h2>
  <hr class="omb_hrOr">
  <div class="row">
    <div class="col-12">
      <form class="omb_loginForm" [formGroup]="formLogin" (ngSubmit)="login()" autocomplete="off">
        <div class="input-container">
          <input type="text" id="email" placeholder=" " />
          <label for="email">Correo electrónico</label>
        </div>
        <div *ngIf="formLogin.controls['email'].invalid && formLogin.controls['email'].touched" class="text-danger">
          El correo electrónico es obligatorio.
        </div>
        <div class="input-container">
          <input type="text" id="password" placeholder=" " />
          <label for="password">Contraseña</label>
        </div>
        <div *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].touched"
          class="text-danger">
          La contraseña es obligatoria.
        </div>
        <button class="cssbuttons-io-button" type="submit" [disabled]="formLogin.invalid">
          Iniciar Sesión
          <div class="icon">
            <svg height="14" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>
        <div class="d-flex align-items-center my-3">
          <input type="checkbox" id="recordar" class="cyberpunk-checkbox" formControlName="recordar">
          <h6 class=" align-items-center justify-content-center">Recordar</h6>
        </div>
        <div class="row mt-1">
          <div class="col-6 text-start">
            <h6>¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a></h6>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row mt-1">
    <div class="col-6">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</div>