.body {
    margin-top: 60px;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: #001121;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #E1FCFF;
    font-family: 'Rubik', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

/* Personaliza la altura del carrusel */
.carousel-item {
    height: 400px;
}

.container-carousel {
    background-color: #122334;
}

.carousel-item img {
    object-fit: contain;
    height: 400px;
}


/* Estilos para el contenedor de la publicación */
.post-container {
    padding: 20px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #122334;
}

.form-control {
    border-radius: 70px;
    border: 3px solid #E1FCFF;
    background-color: #00000000;
    color: #E1FCFF;
    fill: #E1FCFF;
    &::placeholder{
        color: #E1FCFF;
    }
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
}

.form-control-area {
    resize: none;
    border-radius: 20px;
    border: 3px solid #E1FCFF;
    background-color: #00000000;
    color: #E1FCFF;
    fill: #E1FCFF;
    &::placeholder{
        color: #E1FCFF;
    }
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
}

.post-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px;
    color: #E1FCFF; /* Título de la publicación */
}

.post-container .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
    color:#ffffff ;
}

.post-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn-play{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E1FCFF;
    border: none;
    & span{
        font-size: 35px;
    }
}

/* icono de persona en la publicacion (tamaño) */
.img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.item:hover {
    background-color: #002344;
}

.item-selected {
    background-color: #E1FCFF !important;
    color: #001121 !important;
    border: none !important;
    h4 {
      color: #001121;
    }
  }

/* Estilos para el contenedor de creación de publicación */
.post-create-container {
    max-width: 700px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #122334;
}

.post-create-container .card-body {
    padding: 20px;
}

.post-create-container .post-textarea {
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #ffffff; /* Fondo del área de texto */
    color: #000000; /* Color del texto */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.post-create-container .file-upload-wrapper {
    position: relative;
}

.post-create-container .file-upload-input {
    display: none;
}

.post-create-container .file-upload-wrapper label {
    background: #30cfd0;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
} 

.post-create-container .file-upload-wrapper i {
    margin-right: 5px;
}

.post-create-container .post-button {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #001121; /* Fondo del botón de publicar */
    color: #ffffff; /* Color del texto */
    border: none;
    transition: background-color 0.3s ease;
}

.post-create-container .post-button:hover {
    background-color: #00aced; /* Fondo del botón al pasar el ratón */
}

.btn-song {
    padding: 10px 20px;
    border-radius: 70px;
    border: 3px solid #E1FCFF;
    background-color: #00000000;
    color: #E1FCFF;
    font-weight: 600;
  }

.btn-post {
    padding: 10px 20px;
    border-radius: 70px;
    background-color: #E1FCFF;
    color: #001121;
    border: none;
    font-weight: 600;
}

.search-container{
    height: 250px;
}

/* Contenedor del corazón */
.heart-container {
    --heart-color: #E1FCFF; /* Color del corazón */
    position: relative;
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

/* Checkbox para alternar el estado */
.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

/* Contenedor de SVG */
.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Corazón vacío */
.heart-container .svg-outline,
.heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
}

/* Corazón lleno */
.heart-container .svg-filled {
    display: none;
}

/* Celebración */
.heart-container .svg-celebrate {
    position: absolute;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
}

/* Mostrar corazón lleno al hacer clic */
.heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block;
}

/* Mostrar celebración al hacer clic */
.heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block;
    animation: keyframes-svg-celebrate 0.5s;
    animation-fill-mode: forwards;
}

/* Animación del corazón */
@keyframes keyframes-svg-filled {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
        filter: brightness(1.5);
    }
}

/* Animación de la celebración */
@keyframes keyframes-svg-celebrate {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        filter: brightness(1.5);
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

//boton de comentario
.button-custom {
    background: #30cfd0;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  .button-custom:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .button-custom:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  