
//boton ingresar sesion
.cssbuttons-io-button {
  background: #34baab;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #466067;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: #484450;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #459a96;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #34baab;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


/* Estilo básico para el contenedor a la derecha */
.right-container {
  position: absolute; /* o 'fixed' si deseas que permanezca fijo al hacer scroll */
  right: 0; /* Alínealo a la derecha */
  top: 50%; /* Centrado vertical */
  transform: translateY(-50%); /* Centrado vertical */
  width: 40%; /* Ajusta el ancho según sea necesario */
  padding: 20px; /* Espaciado interno opcional */
  background-color: #fff; /* Fondo blanco o según sea necesario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  border-radius: 10px; /* Bordes redondeados opcionales */
}

/* Ajuste en diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .right-container {
    width: 50%; /* Ancho ajustado para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .right-container {
    width: 80%; /* Ancho ajustado para pantallas aún más pequeñas */
    left: 10%; /* Centrado en pantallas pequeñas */
    transform: translateY(-50%); /* Centrado vertical */
  }
}


/* Estilo Entradas de texto y contraseñas */
input[type="text"],
input[type="password"] {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  transition: border 0.3s, box-shadow 0.3s, transform 0.3s, background-color 0.3s;
  outline: none;
  background-color: #f8f8f8;
}

/* Interacción al enfocar */
input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  transform: scale(1.05);
  background-color: #fff;
}

/* Placeholder */
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #aaa;
  font-style: italic;
  transition: opacity 0.3s;
}

/* Cambios en el placeholder al enfocar */
input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder {
  opacity: 0;
}

/* Estilo de error */
input[type="text"].error,
input[type="password"].error {
  border-color: #FF0000;
}

input[type="text"].error + label,
input[type="password"].error + label {
  color: #FF0000;
}

/* Estilo del contenedor y label */
.input-container {
  position: relative;
  margin: 20px 0;
}

label {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.3s;
  background: transparent;
}

input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="password"]:focus + label,
input[type="password"]:not(:placeholder-shown) + label {
  top: -15px;
  left: 15px;
  font-size: 12px;
  color: #007BFF;
  background: #ffffffbb;
  padding: 0 5px;
  border-radius: 25px;
}


/* Botón de Volver */
.back-button {
  position: absolute;
  top: 40px;
  left: 30px;
  padding: 5px 10px;
  background-color: #34baab;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #459a96;
}

/* Estilo del contenedor de la contraseña */
.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #797979;
  font-size: 18px;
  padding: 0;
  display: flex;
  align-items: center;
}

.toggle-password:hover {
  color: #2196f3;
}